# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Environments
.env

.venv
venv/
ENV/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyBuilder
target/

### VisualStudioCode ###
.vscode
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history


# IntelliJ Idea family of suites
.idea
*.iml

## File-based project format:
*.ipr
*.iws

## mpeltonen/sbt-idea plugin
.idea_modules/


### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Logs
*.log

# Docker Images
*.tar
*.tar.gz

# Config files
configs/config.yaml
configs/config.env.*.yaml

# Go
*.log
*.log.*
*.log.*.*

# Coverage
coverage.html
coverage.out

# Binaries
bin/