performance:
  max_threads: 6
  library_processing_timeout: 600s # timeout for the whole application, in seconds (10m default)

http_client:
  timeout: 30s # in seconds
  max_retries: 3

logger:
  log_file_path: "logs/media-rating-overlay.log"
  log_level: "info" # debug, info, warn, error
  max_size: 100 # in megabytes
  max_backups: 5
  max_age: 30 # in days
  compress: true
  service_name: "media-rating-overlay"
  service_version: "1.0.0"
  use_json: true
  use_stdout: true

processor:
  item_processor:
    rating_builder:
      timeout: 30s
  library_processor:
    default_timeout: 600s # timeout for the single library, in secods (10m default)